<div asp-validation-summary="All"></div>

<form asp-action="Index">
    <div class="form-group">
        <label for="pointNo">Please enter loyalty number</label>
        <input type="text" class="form-control" id="pointNo" name="loyaltyNumber" placeholder="5932">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>